nav, footer {
    background-color: rgb(24, 117, 117);
}

.h1-usuarios {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}
